*{margin:0;padding:0;box-sizing:border-box}
#canvas1{
  border:5px solid #000;
  position:absolute;top:50%;left:50%;
  transform:translate(-50%,-50%);
  max-width:100%;max-height:100%;
}
#player,#layer1,#layer2,#layer3,#layer4,#layer5,#enemy_fly,#enemy_plant,#enemy_spider,#fire,#collisionAnimation,#lives{display:none}

#dashboard {
  position: fixed;
  top: 10px;
  left: 10px;
  padding: 10px;
  background: rgba(0,0,0,0.5);
  color: white;
  font-size: 20px;
  border-radius: 8px;
}



.hud-container {
    display: flex;      
    justify-content: flex-start; 
    align-items: center; 
    gap: 20px;           
    
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(100, 100, 100, 0.8);
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
}

#lives {
    
    font-size: 24px;
    line-height: 1; 
}
