*{margin:0;padding:0;box-sizing:border-box}
#canvas1{
  border:5px solid #000;
  position:absolute;top:50%;left:50%;
  transform:translate(-50%,-50%);
  max-width:100%;max-height:100%;
}
#player,#layer1,#layer2,#layer3,#layer4,#layer5,#enemy_fly,#enemy_plant,#enemy_spider,#fire,#collisionAnimation,#lives{display:none}

/* Estilo para o painel de informações do jogo (HUD) */
#game-dashboard {
  /* Posicionamento fixo no canto superior esquerdo */
  position: fixed;
  top: 10px;
  left: 10px;
  
  /* Estilo visual */
  padding: 10px 20px;
  background: rgba(100, 100, 100, 0.8);
  color: white;
  border-radius: 10px;
  font-family: sans-serif;
  font-size: 20px;

  /* Layout interno dos itens da HUD */
  display: flex;      
  justify-content: flex-start; 
  align-items: center; 
  gap: 20px; /* Espaçamento entre Nível, Pontuação, Tempo e Vidas */
}










